.categories-view {
    padding: 100px 300px;
    height: 100%;
}

.categories-layout {
    align-items: center;
    background: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    position: relative;
    z-index: 1;
}

.categories-list {
    padding-inline-start: 0;
}

.categories-list div {
    border: 1px solid #ccc;
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
    position: relative;
    z-index: 1;
    border-radius: 12px;
}